.header{
	text-align: center;
	color: #FFF;
	margin-bottom: 20px;
	&__msg{
		font-size: 15px;
		margin: 5px 0 5px;
	}
	&__title{
		margin: 5px 0;
		font-size: 35px;
		// font-family: 'bodoni_bk_btbook_italic';
		font-family: 'Libre Baskerville', serif;
font-style: italic;
		font-weight: normal;
		line-height: .95em;
	}
	@media screen and (min-width: 768px) {
		text-align: left;
		br{
			display: none;
		}
	}
}