.login{
	&__wrap{
		text-align: center;
		width: 425px;
		max-width: 100%;
		background-color: rgba(0,0,0,.7);
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 5px;
		padding-right: 5px;
		@include center;
	}
	&__msg{
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		color: #FFF;
	}
	&__label{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.2em;
		// font-family: 'bodoni_bk_btbook_italic';
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		color: #FFF;
	}
	&__brand{
		margin-top: 5px;
		margin-bottom: 5px;
		@include center-block;
	}
	&__form{
		padding-top: 15px;
		@include center-block;
		max-width: 250px;
		padding-left: 5px;
		padding-right: 5px;
	}
	&__input{
		margin-top: 5px;
		margin-bottom: 5px;
		border: none;
		height: 40px;
		padding: 10px;
		display: block;
		width: 100%;
	}
	&__submit{
		cursor: pointer;
		padding: 7px;
		height: 30px;
		border: none;
		color: #FFF;
		background-color: rgba(0,0,0,0);
	}

	@media screen and (min-width: 414px)  {
		&__wrap{
			padding-top: 160px;
		}

		&__label,
		&__brand{
			position: relative;
			top: -35px;
		}
	}
}